:root {
  --color-primary: #00ffff;
  --color-label: #a7a7a7;
  --color-text: #e2dede;
  --font-family: "Arial";
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  font-family: var(--font-family);
}

.card {
  position: relative;
  width: 550px;
  padding: 80px;
  border-radius: 24px;
  background: #050038;
  box-shadow: 0 50px 100px rgba(0, 0, 0, .08);
}

.card h2 {
  color: #f9f9f9;
  font-size: 25px;
  font-weight: 1000;
  letter-spacing: .5px;
  margin: 0 0 2px;
}

.card p {
  color: var(--color-text);
  font-size: 16px;
  margin: 0 0 2px;
}

.card .pulse {
  position: absolute;
  top: 52px;
  right: 40px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color-primary);
}

.card .pulse::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: .1px solid var(--color-primary);
  animation: pulse 3s linear infinite;
  transform-origin: center;
  opacity: .8;
  scale: 0;
 
}

@keyframes pulse {

  30% {
    scale: 0;
    opacity: .8;
  }

  100% {
    scale: 3;
    opacity: 0;
  }
}